{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
{% if error %}
        <p class="error text-center">{{ error }}</p>
    {% endif %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name"
            name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password"
            name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3 text-center">
            <button class="btn btn-dark" type="submit">Log In</button>
            <button class="btn btn-dark" type ="reset" value="Reset">Reset</button>
        </div>
    </form>
{% endblock %}
