{% extends "layout.html" %}

{% block title %}
    New rating
{% endblock %}

{% block main %}
{% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form action="/new" method="post">

        <div class="mb-3 row">
            <label for="movie" class="form-label">Movie: </label>
            <div class="col-sm-5">
            <input autocomplete="off" autofocus class="form-control"
                id="movie" name="movie" placeholder="Movie" type="text" required>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="year" class="form-label">Year</label>
            <div class="col-sm-1">
            <input autocomplete autofocus class="form-control"
            id="year" name="year" placeholder="Year" type="number" min="1900" max="2024" step="-1" required>
        </div>
        </div>

        <div class="mb-3 row">
            <label for="genre" class="form-label">Genre</label>
            <div class="col-sm-5">
            <input autocomplete autofocus class="form-control"
            id="genre" name="genre" placeholder="Genre" type="text" required>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="actors" class="form-label">Actors</label>
            <div class="col-sm-5">
            <input autocomplete autofocus class="form-control"
            id="actors" name="actors" placeholder="Actors" type="text" required>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="rate" class="form-label">Rating out of 10</label>
            <div class="col-sm-1">
            <input autocomplete="off" autofocus class="form-control"
            id="rate" name="rate" placeholder="Rate" type="number" min="0" max="10" step="-0.1" required>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="comments" class="form-label">Comments</label>
            <div class="col-sm-10">
            <textarea class="form-control" id="comments" name="comments" rows="3" placeholder="Comments" required></textarea>
            </div>
        </div>
        <button class="btn btn-dark" type="submit">Submit</button>
    </form>
{% endblock %}
